Repository AliBagheri2079/unocss-openprops-sass-layout: changes, and which lint-staged commands are due for each by the changed paths.
All: rome format --write, rome check --apply-unsafe, stylelint --fix

:wrench: Chore: add browsers list config
  .browserslistrc
Due: none

:sparkles: Feat: add many usefull meta tags with favicons
  index.html
  public/storyfire-android.png
  public/storyfire-ios.png
  public/storyfire-web.png
  public/storyfire-windows.png
  public/storyfire.svg
  public/vite.svg
Due: none

:art: Refactor: delete default assets files and move app to container folder
  src/App.css
  src/App.jsx
  src/assets/react.svg
  src/container/App.jsx
  src/index.css
  src/main.jsx
Due: rome format --write, rome check --apply-unsafe

:sparkles: Feat: add uno css config, plugin and styles
  package.json
  pnpm-lock.yaml
  src/container/App.jsx
  uno.config.js
  vite.config.js
Due: rome format --write, rome check --apply-unsafe

:sparkles: Feat: setup postcss with plugins and sass
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: rome format --write, rome check --apply-unsafe

:lipstick: Style: add 'Avineo', 'Monument Regular and Ultrabold' and 'Moresby' font family
  src/assets/fonts/Avineo/Avineo-PersonalUseOnly.eot
  src/assets/fonts/Avineo/Avineo-PersonalUseOnly.ttf
  src/assets/fonts/Avineo/Avineo-PersonalUseOnly.woff
  src/assets/fonts/Avineo/Avineo-PersonalUseOnly.woff2
  src/assets/fonts/MonumentExtended/Regular/MonumentExtended-Regular.eot
  src/assets/fonts/MonumentExtended/Regular/MonumentExtended-Regular.ttf
  src/assets/fonts/MonumentExtended/Regular/MonumentExtended-Regular.woff
  src/assets/fonts/MonumentExtended/Regular/MonumentExtended-Regular.woff2
  src/assets/fonts/MonumentExtended/Ultrabold/MonumentExtended-Ultrabold.eot
  src/assets/fonts/MonumentExtended/Ultrabold/MonumentExtended-Ultrabold.ttf
  src/assets/fonts/MonumentExtended/Ultrabold/MonumentExtended-Ultrabold.woff
  src/assets/fonts/MonumentExtended/Ultrabold/MonumentExtended-Ultrabold.woff2
  src/assets/fonts/Moresby/Moresby-Regular.eot
  src/assets/fonts/Moresby/Moresby-Regular.ttf
  src/assets/fonts/Moresby/Moresby-Regular.woff
  src/assets/fonts/Moresby/Moresby-Regular.woff2
  src/assets/fonts/_index.scss
  src/assets/scss/main.scss
  src/container/App.jsx
Due: rome format --write, rome check --apply-unsafe, stylelint --fix

:zap: Perf: setup absolute imports
  jsconfig.json
  vite.config.js
Due: rome format --write, rome check --apply-unsafe

:sparkles: Feat: create home page
  src/container/App.jsx
  src/pages/Home.jsx
Due: rome format --write, rome check --apply-unsafe

:heavy_plus_sign: Build: add tsparticles with react particles
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: Feat: create star particle component
  src/components/Particles/Star.jsx
  src/components/Particles/config/starData.js
  src/components/Particles/index.jsx
  src/pages/Home.jsx
Due: rome format --write, rome check --apply-unsafe

:heavy_plus_sign: Build: add classnames library
  package.json
Due: none

:heavy_plus_sign: Build: add open props with transition style and config in postcss config file
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: rome format --write, rome check --apply-unsafe

:sparkles: Feat: create circular navbar with open props, transtion style and classnames
  src/layout/Navbar/Circular.jsx
  src/layout/Navbar/circular.scss
  src/layout/Navbar/vendors.scss
  src/pages/Home.jsx
Due: rome format --write, rome check --apply-unsafe, stylelint --fix

:sparkles: Feat: create header layout component
  src/layout/Header/index.jsx
  src/pages/Home.jsx
Due: rome format --write, rome check --apply-unsafe

:lipstick: Style: change font style path to css and reverse custom fonts
  src/assets/fonts/index.css
  src/assets/scss/main.scss
Due: stylelint --fix

:sparkles: Feat: create lenis icon component
  src/components/Icons/Lenis/index.jsx
  src/components/Icons/Lenis/index.scss
  src/components/Icons/index.jsx
Due: rome format --write, rome check --apply-unsafe, stylelint --fix

:memo: Docs: add screenshot and create readme file
  README.md
  Screenshot.png
Due: none

:memo: Docs: update readme scripts
  README.md
Due: none

Path conditions:
  rome format --write: any of: *.{js,jsx}
  rome check --apply-unsafe: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
